* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.wrapper-admin {
    display: flex;
    width: 100%;
    height: 100%;
    
}

.sidebar-menu-admin{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #6E5034;
    height: 100vh;
    width: 200px;
    padding-top: 60px;
}

.sidebar-menu-admin li{
    list-style: none;
}

.sidebar-menu-admin li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 15px 20px;
    display: block;
}

.sidebar-menu-admin li a:hover{
    background-color: #8C6E4D;
}

.navbar-menu-admin{
    display: flex;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #6E5034;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 9999;
}

.nav-left-admin a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font: bold;
}

.admin-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    padding: 100px 10px 10px 220px;
}

.form-create {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group-admin {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.button-group-admin button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: blue;
    color: white;
}

.button-group-admin a{
    text-decoration: none;
    color: white;
    background-color: #6E5034;
    padding: 10px 20px;
    border-radius: 4px;
}
